<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" [containerInside]="false">
  <mdb-navbar-brand><a class="navbar-brand" routerLink=home-page>{{ 'HEADER.TITLE' | translate }}  <i
    class="fa fa-space-shuttle"></i></a></mdb-navbar-brand>
  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngFor="let link of links" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]=link.fragment>{{ link.title | translate }}</a>
      </li>
    </ul>
  </links>
</mdb-navbar>
