$tabTextColor: beige;
$highlightColor: #ff983d;

a {
  font-family: Lato, serif;
  font-size: 1.5rem;
}

mdb-navbar {
  height: 20px;
  .nav-item .nav-link {
    display:block;
    color:white;

    &:hover {
      color: #bf5c63;
    }
    &:active {
      background-color:darkred;
    }
  }
}

.navbar-brand {
  color: #f06865;
}
