footer  {
  padding: 25px 0;
  background: #2c2c2c;
  color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
}

#nasaLogo {
  max-width: 120px;
  padding-left: 30px;
  padding-bottom: 5px;
}

#usLogo {
  max-width: 230px;
  padding-left: 30px;
}

.text, button {
  color: darkgrey;
  font-size: 17px;
}

@media(max-width: 1200px) {
  .pictureCol { display: none; }
  .text { display: none; }
  .contact { display: none; }
}
