img {
  max-width: 100%;
  min-width: 100%;
 }

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
}

.video-container iframe {
  border: none;
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

#title {
  margin-top: 1em;
  margin-bottom: 0.6em;
  text-align: center;
}

#description {
  text-align: justify;
}


@media (max-width: 480px) {
  h2 {
    font-size: 34px;
  }
  p {
    font-size: 17px;
  }
}

@media (min-width: 480px) {
  h2 {
    font-size: 60px;
  }
  p {
    font-size: 30px;
  }
}
