<iframe src='https://mars.nasa.gov/layout/embed/image/insightweather/' width='800' height='750'  scrolling='no' frameborder='0'></iframe>
<div class="container-fluid">
  <div class="row">
    <div class="col-7">
      <img src="https://www.freepnglogos.com/uploads/mars-png/mars-fertile-ground-villanova-magazine-23.png" alt="mars" class="center">
    </div>
    <div class="col-5">
      <p class="text-center">Mars’ atmosphere is composed primarily of carbon dioxide (about 96 percent), with minor amounts of other gases such as argon and nitrogen.
        The atmosphere is very thin, however, and the atmospheric pressure at the surface of Mars is only about 0.6 percent of Earth’s (101,000 pascals).
      </p>
    </div>
  </div>
</div>

