/* You can add global styles to this file, and also import other style files */
@import '~font-awesome/css/font-awesome.css';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@font-face {
  font-family: 'aileronsregular';
  src: url('src/assets/ailerons-webfont.woff') format('woff'),
  url('src/assets/ailerons-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;

}
