<div class="video-background">
  <div class="video-foreground">
    <iframe class="animated hr-light wow fadeIn" data-wow-delay="3s" data-wow-duration="2s"
      src="https://www.youtube.com/embed/x2D7jHfitzk?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&mute=1&playlist=x2D7jHfitzk&start=40&end=305"
      allowfullscreen allow=autoplay frameBorder="0"></iframe>
  </div>
</div>
<div class="mask">
  <div class="full-bg-img">
    <div class="container flex-center">
      <div class="row justify-content-center" style="padding-top: 180px">
        <div class="white-text">
            <div class="box animated font-bold wow fadeIn" data-wow-delay="0.5s" data-wow-duration="2.5s">
          <h1 data-wow-delay="1s">{{ 'HOMEPAGE.WELCOME' | translate }}</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
