<div class="video-background">
  <div class="video-foreground">
    <iframe
      src="https://www.youtube.com/embed/wnhvanMdx4s?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&mute=1"
      frameborder="0" allowfullscreen></iframe>
  </div>
</div>
<div class="mask">
  <div class="full-bg-img">
    <div class="container flex-center">
      <div class="row justify-content-center" style="padding-top: 70px">
        <div class="white-text">
          <h1 class="animated font-bold wow fadeInUp" data-wow-delay="0.3s">{{ 'HOMEPAGE.WELCOME' | translate }}</h1>
          <hr class="animated hr-light wow fadeInLeft" data-wow-delay="0.1s"
              style="border-top: 2px solid cornflowerblue">
        </div>
      </div>
    </div>
  </div>
</div>
